<nav class="main-navbar">
  <div class="container">
    <div class="logo">
      <a href="/">Quản lý giao thông</a>
    </div>
    <div class="nav-items">
      <ul>
        <li><a href="/" class="{{#if isHome}}active{{/if}}">Trang chủ</a></li>
        <li><a href="/dashboard" class="{{#if isDashboard}}active{{/if}}">Bảng điều khiển</a></li>
        <li><a href="/reports" class="{{#if isReports}}active{{/if}}">Báo cáo</a></li>
        <li><a href="/settings" class="{{#if isSettings}}active{{/if}}">Cài đặt</a></li>
      </ul>
    </div>
  </div>
</nav> 