<nav>
  <div class="container nav-container">
    <a href="/" class="nav-brand">
      <i class="fas fa-car"></i>
      Quản lý xe
    </a>

    <ul class="nav-menu">
      <li class="nav-item">
        <a href="/" class="nav-link">
          <i class="fas fa-home"></i>
          Trang chủ
        </a>
      </li>
      <li class="nav-item">
        <a href="/dashboard" class="nav-link">
          <i class="fas fa-tachometer-alt"></i>
          Quản lý xe
        </a>
      </li>
      <li class="nav-item">
        <a href="/map" class="nav-link">
          <i class="fas fa-map-marked-alt"></i>
          Bản đồ
        </a>
      </li>
    </ul>
  </div>
</nav>